<form method="post" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  
  Title: <input type="text" name="article[title]" id="title" value="<%= @article.title %>">
  Content: <input type="text" name="article[content]" id="content" value="<%= @article.content %>">
  
  <input type="submit" id='submit'>
</form>