<h1>New Article</h1>

 <form method="POST" action="/articles">
  <label>Article Title: </label>
  <input type="text" id="title" name="title"><br>
  <label>Article Content: </label>
  <input type="text" id="content" name="content"><br>

   <input type="submit" value="submit">
</form>