<h1>Create a New Article</h1><br>

<form action='/articles' method='post'>
  <h3>Article Title: <input type='text' name='title'></h3>
  <h3>Article Content: <input type='text' name='content'></h3>
  <input type='submit' value='submit'>
</form>